{% extends "_form_page.html" %} 

{% block map_head %} 
  {{ header|safe }} 
{% endblock %} 

{% block title_body %}
<div class="container-fluid p-3 text-center h-1">
  <h1>{{ _("Tell us more about yourself") }}</h1>
</div>
{% endblock %} 

{% block dynamic_class %}
w-75
{% endblock %}

{% block map_body %}
<div class="container-fluid text-start fs-5 px-4">
  <p class="text-start">
    {{ _("We're interested in how different groups of residents think about Chicago's
    neighborhoods. Please share a little about your background and feelings
    about your neighborhood. Remember that all data will be kept confidential
    and only presented in summary form in resulting publications. 
    You may skip any question you prefer not to answer.") }}
  </p>
</div>
<div class="container-fluid text-start fs-5 px-4">
  <form
    action=""
    method="post"
    novalidate
    id="mainform"
    class="needs-validation"
  >
    {{ form.csrf_token }}
    <div class="container text-start">
      <div class="row justify-content-center">
        <div class="col-md-8 py-2">
          {{ form.years_lived_chicago.label(class_="form-label")}}
        </div>
        <div class="col-md-8 py-2">
          {{ form.years_lived_chicago(class_="form-number form-control")}}
        </div>
        <div class="col-md-8 py-2">
          {{ form.years_lived.label(class_="form-label")}}
        </div>
        <div class="col-md-8 py-2">
          {{ form.years_lived(class_="form-number form-control")}}
        </div>
        <div class="col-md-8 py-2">
          {% if form.rent_own.errors %} 
            {{ form.rent_own.label(class_="form-check-label is-invalid")}} 
          {% else %}
            {{ form.rent_own.label(class_="form-check-label")}} 
          {% endif %} 
        </div>
        <div class="col-md-8 py-2">
          {% for subfield in form.rent_own %}
            <div class="form-check">
              <tr>
                <td>{{ subfield(class_="form-check-input") }}</td>
                <td>{{ subfield.label(class_="form-check-label") }}</td>
              </tr>
            </div>
          {% endfor %}
          <div class="invalid-feedback">Please choose an option!</div>
        </div>
        <div class="col-md-8 py-2">
          {{ form.gender.label(class_="form-check-label")}} 
        </div>
        <div class="col-md-8 py-2">
          {% for subfield in form.gender %}
            <div class="form-check">
              <tr>
                <td>{{ subfield(class_="form-check-input") }}</td>
                <td>{{ subfield.label(class_="form-check-label") }}</td>
              </tr>
            </div>
          {% endfor %}
        </div>
        <div class="col-md-8 py-2">
          {{ form.age.label(class_="form-check-label")}}
        </div>
        <div class="col-md-8 py-2">
          {% for subfield in form.age %}
            <div class="form-check">
              <tr>
                <td>{{ subfield(class_="form-check-input") }}</td>
                <td>{{ subfield.label(class_="form-check-label") }}</td>
              </tr>
            </div>
          {% endfor %}
        </div>
        <div class="col-md-8 py-2">
          {{ form.ethnicity.label(class_="form-check-label")}} 
        </div>
        <div class="col-md-8 py-2">
          {% for subfield in form.ethnicity %}
            <div class="form-check">
              <tr>
                <td>{{ subfield(class_="form-check-input", type="checkbox") }}</td>
                <td>{{ subfield.label(class_="form-check-label") }}</td>
              </tr>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="py-4"></div>
    <div class="container-fluid text-center fs-4">
      {{ _("How much do you agree or disagree with the following statements?") }}
    </div>
    <div class="py-2"></div>
    <div class="container text-start">
      <div class="row justify-content-center">
        <div class="col-md-8 py-2">
          {{ form.soc_cohes_neighborhood_knit.label(class_="form-check-label") }}
        </div>
        <div class="col-md-8 py-2">
          {% for subfield in form.soc_cohes_neighborhood_knit %}
            <div class="form-check">
              <tr>
                {{ subfield(class_="form-check-input") }}
                {{ subfield.label(class_="form-check-label") }}
              </tr>
            </div>
          {% endfor %}
        </div>
        <div class="col-md-8 py-2">
          {{ form.soc_cohes_neighborhood_value.label(class_="form-check-label") }}
        </div>
        <div class="col-md-8 py-2">
          {% for subfield in form.soc_cohes_neighborhood_value %}
            <div class="form-check">
              <tr>
                {{ subfield(class_="form-check-input") }}
                {{ subfield.label(class_="form-check-label") }}
              </tr>
            </div>
          {% endfor %}
        </div>
        <div class="col-md-8 py-2">
          {{ form.soc_cohes_neighborhood_talk.label(class_="form-check-label") }}
        </div>
        <div class="col-md-8 py-2">
          {% for subfield in form.soc_cohes_neighborhood_talk %}
            <div class="form-check">
              <tr>
                {{ subfield(class_="form-check-input") }}
                {{ subfield.label(class_="form-check-label") }}
              </tr>
            </div>
          {% endfor %}
        </div>
        <div class="col-md-8 py-2">
          {{ form.soc_cohes_neighborhood_belong.label(class_="form-check-label") }}
        </div>
        <div class="col-md-8 py-2">
          {% for subfield in form.soc_cohes_neighborhood_belong %}
            <div class="form-check">
              <tr>
                {{ subfield(class_="form-check-input") }}
                {{ subfield.label(class_="form-check-label") }}
              </tr>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>        
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 mx-auto py-2 text-center">
      {{ form.submit(class_="btn btn-primary btn-lg text-wrap") }}
      </div>
      <div class="col-md-6 mx-auto py-2 text-center">
      {{ form.submit_giftcard(class_="btn btn-primary btn-lg text-wrap") }}
      </div>
      </div>
    </div>
    </form>
</div>
{% endblock %} 

{% block map_script %} 
{% endblock %}
