<!DOCTYPE html>
<html>
    <head>
        {{ header|safe }}
    </head>
    <body>
        <h1>Form page alpha</h1>
            {{ body_html|safe }}
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ form.curlayer }}
            {{ form.cur_neighbourhood }}
            {{ form.submit(onclick="storeLayer()") }}
        </form>
        <script>
            {{ script|safe }}
            function storeLayer() {
                var data = drawnItems.toGeoJSON();
                var convertedData = 'text/json;charset=utf-8,'
                    + encodeURIComponent(JSON.stringify(data));
                document.getElementById('cur_layer').setAttribute(
                    'value', 'data:' + convertedData
                );                 
            }
            
        </script>
    </body>
</html>

