{% extends "_form_page.html" %} {% block map_head %} {{ header|safe }} {%
endblock %} {% block title_body %}
<div class="container-fluid p-3 text-center h-1">
  <h1>Tell us more about yourself!</h1>
</div>
{% endblock %} {% block map_body %}
<div class="container-fluid">
  <p class="text-left">
    We're interested in how different groups of residents think about Chicago's
    neighborhoods. Please share a little about your background and feelings
    about your neighborhood. Remember that all data will be kept confidential
    and that you may skip any question you prefer not to answer.
  </p>
</div>
<div class="container-fluid">
  <form
    action=""
    method="post"
    novalidate
    id="mainform"
    class="needs-validation"
  >
    {{ form.csrf_token }}
    <div class="container text-left">
      <div class="row">
        <div class="col-md-4 form-check">
          {{ form.gender.label(class_="form-check-label")}} {% for subfield in
          form.gender %}
          <div class="form-check">
            <tr>
              <td>{{ subfield(class_="form-check-input") }}</td>
              <td>{{ subfield.label(class_="form-check-label") }}</td>
            </tr>
          </div>
          {% endfor %}
        </div>
        <div class="col-md-4 form-check">
          {{ form.age.label(class_="form-check-label")}} {% for subfield in
          form.age %}
          <div class="form-check">
            <tr>
              <td>{{ subfield(class_="form-check-input") }}</td>
              <td>{{ subfield.label(class_="form-check-label") }}</td>
            </tr>
          </div>
          {% endfor %}
        </div>
        <div class="col-md-4 form-check">
          {{ form.ethnicity.label(class_="form-check-label")}} {% for subfield
          in form.ethnicity %}
          <div class="form-check">
            <tr>
              <td>{{ subfield(class_="form-check-input") }}</td>
              <td>{{ subfield.label(class_="form-check-label") }}</td>
            </tr>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="container-fluid text-center">
      Tell us more about your neighborhood. How much do you agree or disagree
      with the following statements?
    </div>
    <div class="container-fluid text-center">
      {{ form.submit(class_="btn btn-primary btn-lg") }}
    </div>
  </form>
</div>
{% endblock %} {% block map_script %} {% endblock %}
