{% extends "_form_page.html" %} 
{% block map_head %} 
  {{ header|safe }} 
{% endblock %} 

{% block dynamic_class %}
w-50
{% endblock %}

{% block title_body %}
<div class="container-fluid p-3 text-center h-1">
  {% if first=='first' %}
  <h1>{{ _("Where are the boundaries of your current neighborhood?") }}</h1>
  {% else %}
  <h1>{{ _("Draw another neighborhood") }}</h1>
  {% endif %}
</div>
{% endblock %} 

{% block map_body %}


{{ form_html }}
<form action="" method="post" novalidate id="mainform" class="needs-validation">
  {{ form.csrf_token }} {{ form.draw_layer }}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 fs-5 px-4 py-2">
          {% if first=='first' %}
          {{ _("What do you call your neighborhood or the area where you live?") }}
          {% else %}
          {{ _("What other neighborhood would you like to draw?") }}
          {% endif %}
      </div>
      <div class="col-md-8 fs-5 px-4 py-2">
        {% if form.cur_neighborhood.errors %} 
          {{ form.cur_neighborhood(class_="form-text form-control is-invalid", autocomplete="off", list="neighborhood_list")}} 
        {% else %} 
          {{ form.cur_neighborhood(class_="form-text form-control", autocomplete="off", list="neighborhood_list")}} 
        {% endif %}
        <div class="form-text">{{ form.cur_neighborhood.description }}</div>
        <datalist id="neighborhood_list">
          {% for neighborhood in neighborhood_list %}
           <option>{{ neighborhood }}</option>
          {% endfor %}
        </datalist>
        <div class="invalid-feedback">{{ _("Please fill in the neighborhood!") }}</div>
      </div>
      {% if first=='first' %} 
      {% else %}
        <div class="container-fluid p-3"></div>
        <div class="col-md-8 fs-5 px-4 py-2">
          {{ form.user_relationship.label(class_="form-check-label")}} 
        </div>
        <div class="col-md-8 fs-5 px-4 py-2">
          {% for subfield in form.user_relationship %}
            <div class="form-check">
              <tr>
                <td>{{ subfield(class_="form-check-input", type="checkbox") }}</td>
                <td>{{ subfield.label(class_="form-check-label") }}</td>
              </tr>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</form>
<br /><br />


<div class="container-fluid text-left fs-5 px-4">
  <p>
    {% if first=='first' %}
    {{ _("Now, draw your neighborhood!") }}
    {% else %}
    {{ _("Now, draw the neighborhood!") }}
    {% endif %}
    <ol>
      {% if first=='first' %}
      <li>{{ _("Pan to your neighborhood by clicking and dragging the map") }}</li>
      {% else %}
      <li>{{ _("Pan to the neighborhood by clicking and dragging the map") }}</li>
      {% endif %}
      <li>{{ _("Click on the") }} <img src="/static/poly_icon.png" alt="polygon" width="30" /> {{ _("icon then click on the map to mark a starting point") }}</li>
      <li>{{ _("Add points to mark the boundary") }}</li>
      <li>{{ _("Click on the first point to close the shape") }}</li>
      <!-- <li>Click "I'm done" if you don't want to draw any more neighborhoods or click on "I want to draw the boundary of another neighborhood" to continue drawing</li> -->
    </ol>
    </p>
  <p class="fst-italic">
    {{ _("Draw only 1 neighborhood! Use the") }}
    <img src="/static/delete_icon.png" alt="trash" width="30" /> {{ _("to delete a
    point. Use the") }}
    <img src="/static/edit_icon.png" alt="pencil" width="30" /> {{ _("to move or edit a point.") }}
  </p>
</div>
<!-- {% if form.draw_layer.errors %}
<p class="text-danger">Please draw the the neighborhood!</p>
{% endif %} -->
<div class="container-fluid p-4">{{ body_html|safe }}</div>
<div class="container-fluid mx-auto">
  <div class="row">
    <div class="col-md-4 mx-auto py-2 text-center">
      <form>
        {{ form.submit(onclick="storeLayer()", form="mainform", class_="btn
        btn-primary btn-lg text-wrap") }}
      </form>
    </div>
    <div class="col-md-8 mx-auto py-2 text-center">
      <form>
        {{ form.draw_another(onclick="storeLayer()", form="mainform", class_="btn
        btn-primary btn-lg text-wrap") }}
      </form>
    </div>
  </div>
<div class="container-fluid p-4"></div>
{% endblock %} 

{% block map_script %}
<script>
  {{script | safe}}
  function storeLayer() {
    var data = drawnItems.toGeoJSON();
    var convertedData =
      "text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(data));
    document.getElementById("draw_layer").setAttribute("value", "data:" + convertedData);
  }
</script>
{% endblock %}
