{% extends "_form_page.html" %} 

{% block map_head %} 
  {{ header|safe }} 
{% endblock %} 

{% block title_body %}
<div class="container-fluid p-3 text-center h-1">
  <h1>Tell us more about yourself!</h1>
</div>
{% endblock %} 

{% block map_body %}
<div class="container-fluid">
  <p class="text-left">
    We're interested in how different groups of residents think about Chicago's
    neighborhoods. Please share a little about your background and feelings
    about your neighborhood. Remember that all data will be kept confidential
    and only presented in summary form in resulting publications. 
    You may skip any question you prefer not to answer.
  </p>
</div>
<div class="container-fluid">
  <form
    action=""
    method="post"
    novalidate
    id="mainform"
    class="needs-validation"
  >
    {{ form.csrf_token }}
    <div class="container text-left">
      <div class="row justify-content-center">
        <div class="col-md-3">
          {{ form.years_lived_chicago.label(class_="form-label")}}
          {{ form.years_lived_chicago(class_="form-number form-control")}}
        </div>
        <div class="col-md-3">
          {{ form.years_lived.label(class_="form-label")}}
          {{ form.years_lived(class_="form-number form-control")}}
        </div>
        <div class="col-md-3">
          {% if form.rent_own.errors %} 
            {{ form.rent_own.label(class_="form-check-label is-invalid")}} 
          {% else %}
            {{ form.rent_own.label(class_="form-check-label")}} 
          {% endif %} 
          {% for subfield in form.rent_own %}
            <div class="form-check">
              <tr>
                <td>{{ subfield(class_="form-check-input") }}</td>
                <td>{{ subfield.label(class_="form-check-label") }}</td>
              </tr>
            </div>
          {% endfor %}
          <div class="invalid-feedback">Please choose an option!</div>
        </div>
        <div class="col-md-3 form-check">
          {{ form.gender.label(class_="form-check-label")}} 
          {% for subfield in form.gender %}
            <div class="form-check">
              <tr>
                <td>{{ subfield(class_="form-check-input") }}</td>
                <td>{{ subfield.label(class_="form-check-label") }}</td>
              </tr>
            </div>
          {% endfor %}
        </div>
        <div class="col-md-6 form-check">
          {{ form.age.label(class_="form-check-label")}} 
          {% for subfield in form.age %}
            <div class="form-check">
              <tr>
                <td>{{ subfield(class_="form-check-input") }}</td>
                <td>{{ subfield.label(class_="form-check-label") }}</td>
              </tr>
            </div>
          {% endfor %}
        </div>
        <div class="col-md-6 form-check">
          {{ form.ethnicity.label(class_="form-check-label")}} 
          {% for subfield in form.ethnicity %}
            <div class="form-check">
              <tr>
                <td>{{ subfield(class_="form-check-input", type="checkbox") }}</td>
                <td>{{ subfield.label(class_="form-check-label") }}</td>
              </tr>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="container-fluid text-center">
      How much do you agree or disagree with the following statements?
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Strongly disagree</th>
          <th scope="col">Somewhat disagree</th>
          <th scope="col">Neither agree nor disagree</th>
          <th scope="col">Somewhat agree</th>
          <th scope="col">Strongly agree</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <div class="form-check">
            <th scope="row">
              {{ form.soc_cohes_neighborhood_knit.label(class_="form-check-label") }}
            </th>
            {% for subfield in form.soc_cohes_neighborhood_knit %}
              <td class="text-center">
                {{ subfield(class_="form-check-input") }}
              </td>
            {% endfor %}
          </div>
        </tr>
        <tr>
          <div class="form-check">
            <th scope="row">
              {{ form.soc_cohes_neighborhood_value.label(class_="form-check-label") }}
            </th>
            {% for subfield in form.soc_cohes_neighborhood_value %}
              <td class="text-center">
                {{ subfield(class_="form-check-input") }}
              </td>
            {% endfor %}
          </div>
        </tr>
        <tr>
          <div class="form-check">
            <th scope="row">
              {{ form.soc_cohes_neighborhood_talk.label(class_="form-check-label") }}
            </th>
            {% for subfield in form.soc_cohes_neighborhood_talk %}
              <td class="text-center">
                {{ subfield(class_="form-check-input") }}
              </td>
            {% endfor %}
          </div>
        </tr>
        <tr>
          <div class="form-check">
            <th scope="row">
              {{ form.soc_cohes_neighborhood_belong.label(class_="form-check-label") }}
            </th>
            {% for subfield in form.soc_cohes_neighborhood_belong %}
              <td class="text-center">
                {{ subfield(class_="form-check-input") }}
              </td>
            {% endfor %}
          </div>
        </tr>
      </tbody>
    </table>
    <div class="container-fluid text-center">
      {{ form.submit(class_="btn btn-primary btn-lg") }}
    </div>
  </form>
</div>
{% endblock %} 

{% block map_script %} 
{% endblock %}
