{% extends "_form_page.html" %}

{% block map_head %}
    {{ header|safe }}
{% endblock %}
    
{% block map_body %}
        <form action="" method="post" novalidate id="mainform">
            {{ form.hidden_tag() }}
            {{ form.cur_neighbourhood.label }}
            {{ form.cur_neighbourhood(class_="form-select") }}
            {{ form.years_lived.label }}
            {{ form.years_lived(class_="form-number") }}
        </form>
        <div class="container-lg">
            {{ body_html|safe }}
        </div>
        <form>
            {{ form.submit(onclick="storeLayer()", form="mainform", class_="btn btn-primary") }}            
        </form>
{% endblock %}

{% block map_script %}
        <script>
            {{ script|safe }}
            function storeLayer() {
                var data = drawnItems.toGeoJSON();
                var convertedData = 'text/json;charset=utf-8,'
                    + encodeURIComponent(JSON.stringify(data));
                document.getElementById('mark_layer').setAttribute(
                    'value', 'data:' + convertedData
                );                 
            }
        </script>
{% endblock %}