{% extends "_form_page.html" %}

{% block map_head %} 
{{ header|safe }} 
{%endblock %} 

{% block title_body %}
<div class="container-fluid px-3 text-center h-1">
  <h1>{{ _("Where do you currently live?") }}</h1>
</div>
{% endblock %} 

{% block dynamic_class %}
w-25
{% endblock %}

{% block map_body %}
{{ form_html }}
<form action="" method="post" novalidate id="mainform" class="needs-validation">
  {{ form.csrf_token }} 
  {{ form.mark_layer }}
</form>
<div class="container-fluid text-left fs-5 px-4">
  <p>
    {{ _("To start drawing your neighborhood, first use the map to indicate generally where you live.") }}
  </p>
  <p>
    <ol>
    <li>{{ _("Pan to your approximate address by clicking and dragging the map.") }}</li> 
    <li>{{ _("Tap the") }} <img src="/static/draw_icon.png" alt="white circle" width="30" /> {{ _("icon then click on the map to mark your home's general location.") }} </li>
    </ol>
  </p>
</div>
<div class="p-4 container-fluid h-50">
  {{ body_html|safe }}
</div>
<div class="container-fluid text-left fs-5 px-4">
  <p>
    {{ _("We will only look at your location as approximate coordinates and do not store your address.") }}
  </p>
  <p class="fst-italic">
    {{ _("Mark only 1 location! Use the") }}
    <img src="/static/delete_icon.png" alt="trash" width="30" /> {{ _("to delete a
    marker. Use the") }}
    <img src="/static/edit_icon.png" alt="pencil" width="30" /> {{ _("to move around
    or edit a marker.") }}
  </p>
  {% if form.mark_layer.errors %}
  <p class="text-danger-custom">{{ _("Mark the general location of where you live!") }}</p>
  {% endif %}
</div>
<div class="container-fluid text-center cta-main-btn">
  <form>
    {{ form.submit(onclick="storeLayer()", form="mainform", class_="btn btn-primary btn-lg text-wrap") }}
  </form>
</div>

<div class = "float-end fixed-bottom p-4 text-end">
  <button id="scrollToBotBtn" class="btn btn-primary">
    →
  </button>
</div>

{% endblock %} 

{% block map_script %}
<script>
  {{script | safe}}
  var csrf_token = "{{ csrf_token() }}";
  function storeLayer() {
    var data = drawnItems.toGeoJSON();
    var convertedData =
      "text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(data));
    document
      .getElementById("mark_layer")
      .setAttribute("value", "data:" + convertedData);
  }
</script>
<script>
  $(document).ready(function(){
    // Show or hide the button based on scroll position
    $(window).scroll(function(){
      var position_top = $('.cta-main-btn').position().top - $(window).height();

      if ($(this).scrollTop() < position_top) {
        $('#scrollToBotBtn').fadeIn();
      } else {
        $('#scrollToBotBtn').fadeOut();
      }
    });

    // Scroll to top on button click
    $('#scrollToBotBtn').click(function(){
      $('html, body').animate({scrollTop : $(window).height()},200);
      return false;
    });
  });
</script>
{% endblock %}
