{% extends "_base_page.html" %} 

{% block map_head %} 
{% endblock %} 

{% block body %}
<div class="container-fluid p-3 text-center h-1">
  <h1>Draw your neighborhood in less than 3 minutes!</h1>
</div>
<p class="fs-4 lead p-3">
  Chicago prides itself as “The City of Neighborhoods” but where are they? 
  Chicago needs an update from the 77 community areas mapped in the 1920s!

</p>
<p class="fs-4 lead p-3">
  The purpose of this survey is to better understand — and therefore better 
  support — Chicago's neighborhoods. We're asking current Chicago residents to 
  identify Chicago's neighborhoods using an interactive map to draw neighborhood boundaries. 
</p>
<p class="fs-4 lead p-3">
  <b>
    Enter to win one of twenty $50 gift cards! Gift card drawings will occur every 
    two weeks starting in November. Register at the end of the survey to be notified by email!
  </b>
</p>
<p class="fs-4 lead p-3">
  Participation in this survey is completely voluntary. Have questions? 
  Contact the research team at <a href="mailto:urbanism@uchicago.edu">urbanism@uchicago.edu</a>.
</p>
<p class="fs-4 lead p-3">
  By clicking the button below, you agree that you are a resident of the City of
  Chicago, you are at least 18 years of age, and you consent to participate in
  this study voluntarily.
</p>
<div class="container-fluid text-center">
  <form action="" method="post" novalidate id="mainform">
    {{ agree.csrf_token }} 
    {{ agree.agree(class_="btn btn-primary btn-lg") }}
  </form>
</div>
{% endblock %} 

{% block map_script %} 
{% endblock %}
