{% extends "_base_page.html" %} {% block map_head %} {% endblock %} {% block
body %}
<div class="container-fluid p-3 text-center h-1">
  <h1>Thank you for participating!</h1>
</div>
<!-- <p class="fs-3 lead p-3">
  Your responses will help us better understand how
  Chicago residents think about their neighborhoods and neighborhoods across the
  city.
</p> -->
{% if feedback_page == "feedback" %}
<p class="fs-3 lead p-3">
  To be entered to win one of twenty $50 gift cards, enter your email address below. 
  Gift card winners will be randomly selected every two weeks and notified by email. 
  Your email will only be used for the gift card drawing and will never be shared.
</p>
<form action="" method="post" novalidate id="mainform" class="needs-validation">
  {{ form.csrf_token }}
  <div class="container-fluid">
    {{form.email(class_="form-text form-control", placeholder="Enter email here!")}}
  </div>
</form>
<p class="fs-3 lead p-3">
  We welcome your comments and feedback. If there is more information you would
  like to share with us, please use the textbox below.
</p>
<form>
  <div class="container-fluid">
    {{form.feedback(form="mainform", class_="form-control", style="height: 100px", placeholder = "Write feedback here!")}}
    <div class="container-fluid p-4"></div>
    <div class="container-fluid text-center">
      {{ form.agree(form="mainform", class_="btn btn-success btn-lg") }}
    </div>
  </div>
</form>
{% else %}
{% endif %}
{% endblock %} 

{% block map_script %} 
{% endblock %}
